 
 .youare{
    background-color : black;
    color : black;
    font-size : 20px;
    width: 30px;
 }

 .alive{
    background-color : red;
    color : red;
    font-size : 12px;
    width : 20px;

 }